In [21]:
import pandas as pd
import numpy as np

In [24]:
wncaa=pd.read_csv("wnba.csv", index_col=0)

In [26]:
wncaa.head()

,TeamID,Season,games,totalMargin,Wins,Losses,Points,FG,FGA,FG3,FGA3,FT,FTA,OR,DR,Ast,To,Stl,Blk,Pf
0,3102.0,2010.0,28,-19.964286,1,27,51.821429,19.142857,53.142857,4.571429,16.071429,8.964286,13.214286,12.464286,19.535714,10.250000,17.714286,6.035714,0.642857,14.964286
0,3103.0,2010.0,30,2.600000,17,13,62.233333,22.233333,55.266667,3.933333,12.466667,13.833333,19.600000,14.200000,23.566667,13.433333,18.266667,8.033333,2.400000,17.533333
0,3104.0,2010.0,29,-2.862069,11,18,64.137931,24.724138,62.103448,4.344828,14.724138,10.344828,16.793103,14.482759,25.931034,13.103448,19.172414,7.379310,2.931034,20.413793
0,3105.0,2010.0,27,-3.962963,14,13,60.777778,20.370370,50.851852,3.037037,9.888889,17.000000,24.333333,13.666667,23.370370,9.740741,25.037037,8.777778,5.148148,19.148148
0,3106.0,2010.0,29,-2.275862,12,17,55.137931,18.448276,53.000000,2.689655,9.586207,15.551724,24.000000,15.000000,24.758621,11.482759,20.103448,8.034483,4.482759,22.068966

In [27]:
wncaa.columns

Index(['TeamID', 'Season', 'games', 'totalMargin', 'Wins', 'Losses', 'Points',
       'FG', 'FGA', 'FG3', 'FGA3', 'FT', 'FTA', 'OR', 'DR', 'Ast', 'To', 'Stl',
       'Blk', 'Pf'],
      dtype='object')

In [28]:
tourn = pd.read_csv("google-cloud-ncaa-march-madness-2020-division-1-womens-tournament/WDataFiles_Stage1/WNCAATourneyDetailedResults.csv")

In [33]:
sample=pd.read_csv("google-cloud-ncaa-march-madness-2020-division-1-womens-tournament/WSampleSubmissionStage1_2020.csv")

In [30]:
sample.head()

               ID  Pred
0  2015_3106_3107   0.5
1  2015_3106_3110   0.5
2  2015_3106_3113   0.5
3  2015_3106_3114   0.5
4  2015_3106_3116   0.5

In [ ]:
#separate ID column. into Season, Team 1 and Team 2

In [31]:
id = sample["ID"].str.split("_", n = 2, expand = True)

In [34]:
sample["Season"] = id[0]
sample ["Team1"] = id[1]
sample ["Team2"] = id[2]
sample.head()

               ID  Pred Season Team1 Team2
0  2015_3106_3107   0.5   2015  3106  3107
1  2015_3106_3110   0.5   2015  3106  3110
2  2015_3106_3113   0.5   2015  3106  3113
3  2015_3106_3114   0.5   2015  3106  3114
4  2015_3106_3116   0.5   2015  3106  3116

In [6]:
tourn.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12