In [3]:
import pandas as pd
import numpy as np

In [14]:
wncaa=pd.read_csv("wnba.csv")

In [16]:
wncaa.head()

,Unnamed: 0,TeamID,Season,games,totalMargin,Wins,Losses,Points,FG,FGA,...,FGA3,FT,FTA,OR,DR,Ast,To,Stl,Blk,Pf
0,0,3102.0,2010.0,28,-19.964286,1,27,51.821429,19.142857,53.142857,...,16.071429,8.964286,13.214286,12.464286,19.535714,10.250000,17.714286,6.035714,0.642857,14.964286
1,1,3103.0,2010.0,30,2.600000,17,13,62.233333,22.233333,55.266667,...,12.466667,13.833333,19.600000,14.200000,23.566667,13.433333,18.266667,8.033333,2.400000,17.533333
2,2,3104.0,2010.0,29,-2.862069,11,18,64.137931,24.724138,62.103448,...,14.724138,10.344828,16.793103,14.482759,25.931034,13.103448,19.172414,7.379310,2.931034,20.413793
3,3,3105.0,2010.0,27,-3.962963,14,13,60.777778,20.370370,50.851852,...,9.888889,17.000000,24.333333,13.666667,23.370370,9.740741,25.037037,8.777778,5.148148,19.148148
4,4,3106.0,2010.0,29,-2.275862,12,17,55.137931,18.448276,53.000000,...,9.586207,15.551724,24.000000,15.000000,24.758621,11.482759,20.103448,8.034483,4.482759,22.068966

In [6]:
wncaa.head()
wncaa=wncaa.iloc[:,1:]
wncaa.to_csv("wnba.csv")

In [7]:
wncaa.columns

Index(['TeamID', 'Season', 'games', 'totalMargin', 'Wins', 'Losses', 'Points',
       'FG', 'FGA', 'FG3', 'FGA3', 'FT', 'FTA', 'OR', 'DR', 'Ast', 'To', 'Stl',
       'Blk', 'Pf'],
      dtype='object')

In [17]:
tourn = pd.read_csv("google-cloud-ncaa-march-madness-2020-division-1-womens-tournament/WDataFiles_Stage1/WNCAATourneyDetailedResults.csv")

In [18]:
sample=pd.read_csv("google-cloud-ncaa-march-madness-2020-division-1-womens-tournament/WSampleSubmissionStage1_2020.csv")

In [19]:
sample.head()

               ID  Pred
0  2015_3106_3107   0.5
1  2015_3106_3110   0.5
2  2015_3106_3113   0.5
3  2015_3106_3114   0.5
4  2015_3106_3116   0.5

In [ ]:
#separate ID column. into Season, Team 1 and Team 2

In [22]:
id = sample["ID"].str.split("_", n = 2, expand = True)
print(id)

          0     1     2
0      2015  3106  3107
1      2015  3106  3110
2      2015  3106  3113
3      2015  3106  3114
4      2015  3106  3116
5      2015  3106  3124
6      2015  3106  3129
7      2015  3106  3140
8      2015  3106  3143
9      2015  3106  3151
10     2015  3106  3163
11     2015  3106  3169
12     2015  3106  3173
13     2015  3106  3177
14     2015  3106  3181
15     2015  3106  3195
16     2015  3106  3199
17     2015  3106  3203
18     2015  3106  3211
19     2015  3106  3234
20     2015  3106  3235
21     2015  3106  3241
22     2015  3106  3246
23     2015  3106  3251
24     2015  3106  3257
25     2015  3106  3261
26     2015  3106  3268
27     2015  3106  3274
28     2015  3106  3278
29     2015  3106  3280
...     ...   ...   ...
10050  2019  3393  3417
10051  2019  3393  3460
10052  2019  3397  3400
10053  2019  3397  3401
10054  2019  3397  3406
10055  2019  3397  3413
10056  2019  3397  3416
10057  2019  3397  3417
10058  2019  3397  3460
10059  2019  3400  3401
10060  2019  3400  3406
10061  2019  3400  3413
10062  2019  3400  3416
10063  2019  3400  3417
10064  2019  3400  3460
10065  2019  3401  3406
10066  2019  3401  3413
10067  2019  3401  3416
10068  2019  3401  3417
10069  2019  3401  3460
10070  2019  3406  3413
10071  2019  3406  3416
10072  2019  3406  3417
10073  2019  3406  3460
10074  2019  3413  3416
10075  2019  3413  3417
10076  2019  3413  3460
10077  2019  3416  3417
10078  2019  3416  3460
10079  2019  3417  3460

[10080 rows x 3 columns]

In [24]:
sample["years"] = id[0]
sample ["team1"] = id[1]
sample ["team2"] = id[2]
print (sample)

                   ID  Pred years team1 team2
0      2015_3106_3107   0.5  2015  3106  3107
1      2015_3106_3110   0.5  2015  3106  3110
2      2015_3106_3113   0.5  2015  3106  3113
3      2015_3106_3114   0.5  2015  3106  3114
4      2015_3106_3116   0.5  2015  3106  3116
5      2015_3106_3124   0.5  2015  3106  3124
6      2015_3106_3129   0.5  2015  3106  3129
7      2015_3106_3140   0.5  2015  3106  3140
8      2015_3106_3143   0.5  2015  3106  3143
9      2015_3106_3151   0.5  2015  3106  3151
10     2015_3106_3163   0.5  2015  3106  3163
11     2015_3106_3169   0.5  2015  3106  3169
12     2015_3106_3173   0.5  2015  3106  3173
13     2015_3106_3177   0.5  2015  3106  3177
14     2015_3106_3181   0.5  2015  3106  3181
15     2015_3106_3195   0.5  2015  3106  3195
16     2015_3106_3199   0.5  2015  3106  3199
17     2015_3106_3203   0.5  2015  3106  3203
18     2015_3106_3211   0.5  2015  3106  3211
19     2015_3106_3234   0.5  2015  3106  3234
20     2015_3106_3235   0.5  2015  3106  3235
21     2015_3106_3241   0.5  2015  3106  3241
22     2015_3106_3246   0.5  2015  3106  3246
23     2015_3106_3251   0.5  2015  3106  3251
24     2015_3106_3257   0.5  2015  3106  3257
25     2015_3106_3261   0.5  2015  3106  3261
26     2015_3106_3268   0.5  2015  3106  3268
27     2015_3106_3274   0.5  2015  3106  3274
28     2015_3106_3278   0.5  2015  3106  3278
29     2015_3106_3280   0.5  2015  3106  3280
...               ...   ...   ...   ...   ...
10050  2019_3393_3417   0.5  2019  3393  3417
10051  2019_3393_3460   0.5  2019  3393  3460
10052  2019_3397_3400   0.5  2019  3397  3400
10053  2019_3397_3401   0.5  2019  3397  3401
10054  2019_3397_3406   0.5  2019  3397  3406
10055  2019_3397_3413   0.5  2019  3397  3413
10056  2019_3397_3416   0.5  2019  3397  3416
10057  2019_3397_3417   0.5  2019  3397  3417
10058  2019_3397_3460   0.5  2019  3397  3460
10059  2019_3400_3401   0.5  2019  3400  3401
10060  2019_3400_3406   0.5  2019  3400  3406
10061  2019_3400_3413   0.5  2019  3400  3413
10062  2019_3400_3416   0.5  2019  3400  3416
10063  2019_3400_3417   0.5  2019  3400  3417
10064  2019_3400_3460   0.5  2019  3400  3460
10065  2019_3401_3406   0.5  2019  3401  3406
10066  2019_3401_3413   0.5  2019  3401  3413
10067  2019_3401_3416   0.5  2019  3401  3416
10068  2019_3401_3417   0.5  2019  3401  3417
10069  2019_3401_3460   0.5  2019  3401  3460
10070  2019_3406_3413   0.5  2019  3406  3413
10071  2019_3406_3416   0.5  2019  3406  3416
10072  2019_3406_3417   0.5  2019  3406  3417
10073  2019_3406_3460   0.5  2019  3406  3460
10074  2019_3413_3416   0.5  2019  3413  3416
10075  2019_3413_3417   0.5  2019  3413  3417
10076  2019_3413_3460   0.5  2019  3413  3460
10077  2019_3416_3417   0.5  2019  3416  3417
10078  2019_3416_3460   0.5  2019  3416  3460
10079  2019_3417_3460   0.5  2019  3417  3460

[10080 rows x 5 columns]

In [6]:
tourn.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12